@charset "UTF-8";

@font-face {
    font-family: 'Idroid';
    src: url(idroid.otf) format('opentype');
}

@font-face {
    font-family: 'rakesly';
    src: url(rakesly\ lt.otf) format('opentype');
}

@font-face {
    font-family: 'bebas';
    src: url(Bebas-Regular.otf) format('opentype');
}
:root{
    --corPrincipal: #84E1AD;
}
/* variavel em css:
:root{
    --cor0: #c5ebd6;
    --fonte-padrao: Arial, Verdana, Helvetica;

    na hora de chamar: var(nome)
*/

*{
    margin: 0px;
    padding: 0px;
}

header {
    width: 100%;
    background-image: linear-gradient(#3CD983, #195A36);
    display: grid;
}

#titulo {
    color: white;
    font-family: 'bebas', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    color: white;
    text-align: center;
}

menu {
    
    color: white;

}

.options{
    display: inline-block;
    
}

h2 {
    font-family: idroid;
    color: #377152;
    

}

h3 {
    font-family: idroid;
    color: #377152;
   
    background-image: linear-gradient(to right, #CFEFDD, #FDFEFE);
    
    width: 98%;
    display: block;
    
}

section {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 2px;
    box-shadow: black 1px 1px 10px 1px;
   
    
}

body {
    background-color: var(--corPrincipal);
}

.image {
    width: 95%;
    display: block;
    margin: auto;
    
}

.extra {
    margin-top: 10px;
    border: 1px solid;
    background-color: #C5EBD6;
    
    border-radius: 5px;
}

#tituloExtra {
    background-color: #2FA866;
    color: white;
    display: grid;
    
}

footer {
    background-color: #1A5C38;
    color: white;
    width: 100vw;
   
    text-align: center;
}

p {
    text-indent: 1.5em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#video {
    background-color: #1A5C38;
   
}

